ktor {
  application {
    modules = [ me.brosssh.bundles.ApplicationKt.module ]
  }
  deployment {
    port = 8080
  }
}

app {
    token = "YOUR_TOKEN_HERE"
    db {
        jdbcUrl = "jdbc:postgresql://localhost:5432/postgres"
        user = "YOUR_DB_USER"
        password = "YOUR_DB_PASSWORD"
    }
}
