name: Refresh Bundles & Patches

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  refresh:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [Development, Production]

    environment: ${{ matrix.env }}

    steps:
      - name: Call refresh endpoint
        env:
          SECRET: ${{ secrets.AUTHENTICATION_SECRET }}
          DEPLOY_ENDPOINT: ${{ vars.DEPLOY_ENDPOINT }}
        run: |
          TIMESTAMP=$(date +%s)
          PAYLOAD="refresh:$TIMESTAMP"
          HMAC=$(echo -n "$PAYLOAD" | openssl dgst -sha256 -hmac "$SECRET" | sed 's/^.* //')
          
          echo "Calling refresh on $DEPLOY_ENDPOINT"
          
          curl -X POST "$DEPLOY_ENDPOINT/api/v1/refresh/all" \
                -H "Authorization: Bearer $TIMESTAMP-$HMAC" \
                -H 'accept: application/json' \
                -d '' \
                -w "\nHTTP Status: %{http_code}\n"
