name: Refresh Bundles

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Call refresh endpoint
        env:
          SECRET: ${{ secrets.AUTHENTICATION_SECRET }}
        run: |
          TIMESTAMP=$(date +%s)
          PAYLOAD="refresh:$TIMESTAMP"
          HMAC=$(echo -n "$PAYLOAD" | openssl dgst -sha256 -hmac "$SECRET" | sed 's/^.* //')
          curl -X POST "https://revanced-external-bundles.brosssh.com/refresh/bundles" \
                -H "Authorization: Bearer $TIMESTAMP-$HMAC" \
                -H 'accept: application/json' \
                -d '' \
                -w "\nHTTP Status: %{http_code}\n"
